# use direnv allow to use .envrc file
export using_direnv=true

# Check if the NVIDIA kernel module is loaded
if [ "$(lsmod | grep nvidia | wc -l)" -ne 0 ]; then
  use flake #withCUDA
else
  use flake #withoutCUDA
fi
